
{{ form_start(seriesForm) }}
                    {{ form_row(seriesForm.name) }}
                    {{ form_row(seriesForm.video) }}
                    {{ form_row(seriesForm.duration) }}
                    {{ form_row(seriesForm.en_sub) }}
                    {{ form_row(seriesForm.ru_sub) }}
                    {{ form_row(seriesForm.it_sub) }}
                    {{ form_row(seriesForm.de_sub) }}
                    {{ form_row(seriesForm.jp_sub) }}
                    {{ form_row(seriesForm.fr_sub) }}
                    {{ form_row(seriesForm.zh_sub) }}
                    {{ form_row(seriesForm.cs_sub) }}
                    {{ form_row(seriesForm.lt_sub) }}
                    {{ form_row(seriesForm.pl_sub) }}
                    {{ form_row(seriesForm.isPublished) }}

<button type="submit" class="btn btn-primary" formnovalidate>Save</button>
{{ form_end(seriesForm) }}
