{% extends 'base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link href="{{ asset('css/video-js.css') }}" rel="stylesheet">

{% endblock %}

{% block title %}Video   {{ video.name }}{% endblock %}

{% block body %}
    <h2 class="video-name">{{ video.name }}</h2>
    <!--<div id="root"></div>
    <div id="data"></div>-->
    <div class="video-container">
        <img class="video-img" src="{{ asset('uploads/background/' ~ video.background) }}">
        <div class="video-details">
            <dl class="video-details-list">
                <dt>Plot:</dt>
                <dd>{{ video.annotation }}</dd>
                <dt>Series:</dt>
                <dd>{{ seriesCount }}/8</dd>
                <dt>Updated at:</dt>
                <dd>{{ video.updatedAt|date('Y-m-d h-m') }}</dd>
                <dt>Views</dt>
                <dd>{{ video.views }}</dd>
            </dl>
        </div>
    </div>
    <div id="json-answer"></div>
<div id="js-notes-wrapper">
    {% for series in seriesSymfony %}
    <div class="cd-timeline-block">
            <div class="cd-timeline-img">
                <img width="60px" height="60px" src="{{ series.backgroundImg }}" class="img-circle" alt="Leanna!" />
            </div>
            <div class="cd-timeline-content">
                <a href="{{ asset(path('show_single_video', {'id': series.id})) }}">{{ series.seriesName }}</a>
                <!--<video
                        id="my-video"
                        class="video-js"
                        controls preload="auto"
                        width="640"
                        height="264"
                        poster="//vjs.zencdn.net/v/oceans.png"
                        data-setup="{}">
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser that
                        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                    <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                    <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm">
                    <track kind='captions' src='https://dotsub.com/media/5d5f008c-b5d5-466f-bb83-2b3cfa997992/c/chi_hans/vtt' srclang='zh' label='Chinese' />
                    <track kind='captions' src='{{ series.engSub }}' srclang='en' label='English' default />
                    <track kind='captions' src='https://dotsub.com/media/5d5f008c-b5d5-466f-bb83-2b3cfa997992/c/spa/vtt' srclang='es' label='Spanish' />
                    <track kind='captions' src='https://dotsub.com/media/5d5f008c-b5d5-466f-bb83-2b3cfa997992/c/fre_ca/vtt' srclang='fr' label='French' />
                </video>-->
                <p></p>
                <span class="cd-date">{{ series.date }}</span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {#<script type="text/babel" src="{{ asset('js/notes.react.js') }}"></script>#}
{#    <script type="text/babel">
        var notesUrl = '{{ path('trans_word', {'transWord': 'hello', 'fromLng': 'eng', 'destLng': 'rus' }) }}';

        ReactDOM.render(
                <NoteSection url={notesUrl} />,
                document.getElementById('json-answer')
        );
    </script>#}
    <script src="{{ webpack_asset('@app/script.js') }}"></script>
{% endblock %}
